body {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 30px;
	background: #1a1a1a;
	color: white;
	font-family: Arial;
}

p {
	margin-left: 2%;
}

pre {
	margin-left: 4%;
}

a {
	color: #f60;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*#logo {
	position: absolute;
	left: 20px;
	top: 20px;
}*/

#logo {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader("jsGameSoup-logo.png");
}
